<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangkang.mapper.GoodsMapper">

    <select id="selectBrandByConditions" resultType="com.kangkang.pojo.Goods">
        select *
        from goods
        <where>
            <if test="goods.goodName !=null and goods.goodName!=''">
                and goodName like #{goods.goodName}
            </if>
            <if test="goods.brand !=null and goods.brand!=''">
                and brand like #{goods.brand}
            </if>
        </where>
        limit #{begin},#{size}
    </select>
    <select id="selectBrandByConditionsCount" resultType="java.lang.Integer">
        select count(*) from goods
        <where>
            <if test="goods.goodName !=null and goods.goodName!=''">
                and goodName like #{goods.goodName}
            </if>
            <if test="goods.brand !=null and goods.brand!=''">
                and brand like #{goods.brand}
            </if>
        </where>
    </select>
</mapper>